<a href="https://colab.research.google.com/github/anumeha-0309/Infosys-Project-and-Tasks/blob/main/Python_OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python OOPs Concepts:
Object-Oriented Programming (OOP) in Python is a programming paradigm that uses classes and objects to organize and structure code, enabling features like encapsulation, inheritance, polymorphism, and abstraction.

OOPs Concepts in Python:
1. Class in Python
2. Objects in Python
3. Polymorphism in Python
4. Encapsulation in Python
5. Inheritance in Python
6. Data Abstraction in Python

Python Class:
A class is a collection of objects. Classes are blueprints for creating objects. A class defines a set of attributes and methods that the created objects can have.

Some points on Python class:  
1. Classes are created by keyword class.
2. Attributes are the variables that belong to a class.
3. Attributes are always public and can be accessed using the dot (.) operator. Example: Myclass.Myattribute

In [ ]:
class Dog:
    species = "Canine"  # Class attribute

    def __init__(self, name, age):
        self.name = name  # Instance attribute
        self.age = age  # Instance attribute

Python Objects:
An Object is an instance of a Class. It represents a specific implementation of the class and holds its own data.

An object consists of:
1. State: It is represented by the attributes and reflects the properties of an object.
2. Behavior: It is represented by the methods of an object and reflects the response of an object to other objects.
3. Identity: It gives a unique name to an object and enables one object to interact with other objects.

In [ ]:
class Dog:
    species = "Canine"  # Class attribute

    def __init__(self, name, age):
        self.name = name  # Instance attribute
        self.age = age  # Instance attribute

# Creating an object of the Dog class
dog1 = Dog("Buddy", 3)

print(dog1.name)
print(dog1.species)

Python Inheritance:
Inheritance allows a class (child class) to acquire properties and methods of another class (parent class). It supports hierarchical classification and promotes code reuse.

Types of Inheritance:
1. Single Inheritance: A child class inherits from a single parent class.
2. Multiple Inheritance: A child class inherits from more than one parent class.
3. Multilevel Inheritance: A child class inherits from a parent class, which in turn inherits from another class.
4. Hierarchical Inheritance: Multiple child classes inherit from a single parent class.
5. Hybrid Inheritance: A combination of two or more types of inheritance.

In [ ]:
# Single Inheritance
class Dog:
    def __init__(self, name):
        self.name = name

    def display_name(self):
        print(f"Dog's Name: {self.name}")

class Labrador(Dog):  # Single Inheritance
    def sound(self):
        print("Labrador woofs")

# Multilevel Inheritance
class GuideDog(Labrador):  # Multilevel Inheritance
    def guide(self):
        print(f"{self.name}Guides the way!")

# Multiple Inheritance
class Friendly:
    def greet(self):
        print("Friendly!")

class GoldenRetriever(Dog, Friendly):  # Multiple Inheritance
    def sound(self):
        print("Golden Retriever Barks")

# Example Usage
lab = Labrador("Buddy")
lab.display_name()
lab.sound()

guide_dog = GuideDog("Max")
guide_dog.display_name()
guide_dog.guide()

retriever = GoldenRetriever("Charlie")
retriever.display_name()
retriever.greet()
retriever.sound()

Python Polymorphism:
Polymorphism allows methods to have the same name but behave differently based on the object’s context. It can be achieved through method overriding or overloading.

Types of Polymorphism
1. Compile-Time Polymorphism: This type of polymorphism is determined during the compilation of the program. It allows methods or operators with the same name to behave differently based on their input parameters or usage. It is commonly referred to as method or operator overloading.

2. Run-Time Polymorphism: This type of polymorphism is determined during the execution of the program. It occurs when a subclass provides a specific implementation for a method already defined in its parent class, commonly known as method overriding.

In [ ]:
# Parent Class
class Dog:
    def sound(self):
        print("dog sound")  # Default implementation

# Run-Time Polymorphism: Method Overriding
class Labrador(Dog):
    def sound(self):
        print("Labrador woofs")  # Overriding parent method

class Beagle(Dog):
    def sound(self):
        print("Beagle Barks")  # Overriding parent method

# Compile-Time Polymorphism: Method Overloading Mimic
class Calculator:
    def add(self, a, b=0, c=0):
        return a + b + c  # Supports multiple ways to call add()

# Run-Time Polymorphism
dogs = [Dog(), Labrador(), Beagle()]
for dog in dogs:
    dog.sound()  # Calls the appropriate method based on the object type


# Compile-Time Polymorphism (Mimicked using default arguments)
calc = Calculator()
print(calc.add(5, 10))  # Two arguments
print(calc.add(5, 10, 15))  # Three arguments

Encapsulation:
Encapsulation is the bundling of data (attributes) and methods (functions) within a class, restricting access to some components to control interactions.

Types of Encapsulation:
1. Public Members: Accessible from anywhere.
2. Protected Members: Accessible within the class and its subclasses.
3. Private Members: Accessible only within the class.

In [ ]:
class Dog:
    def __init__(self, name, breed, age):
        self.name = name  # Public attribute
        self._breed = breed  # Protected attribute
        self.__age = age  # Private attribute

    # Public method
    def get_info(self):
        return f"Name: {self.name}, Breed: {self._breed}, Age: {self.__age}"

    # Getter and Setter for private attribute
    def get_age(self):
        return self.__age

    def set_age(self, age):
        if age > 0:
            self.__age = age
        else:
            print("Invalid age!")

# Example Usage
dog = Dog("Buddy", "Labrador", 3)

# Accessing public member
print(dog.name)  # Accessible

# Accessing protected member
print(dog._breed)  # Accessible but discouraged outside the class

# Accessing private member using getter
print(dog.get_age())

# Modifying private member using setter
dog.set_age(5)
print(dog.get_info())

Data Abstraction:
Abstraction hides the internal implementation details while exposing only the necessary functionality. It helps focus on “what to do” rather than “how to do it.”

Types of Abstraction:
1. Partial Abstraction: Abstract class contains both abstract and concrete methods.
2. Full Abstraction: Abstract class contains only abstract methods (like interfaces).

In [ ]:
from abc import ABC, abstractmethod

class Dog(ABC):  # Abstract Class
    def __init__(self, name):
        self.name = name

    @abstractmethod
    def sound(self):  # Abstract Method
        pass

    def display_name(self):  # Concrete Method
        print(f"Dog's Name: {self.name}")

class Labrador(Dog):  # Partial Abstraction
    def sound(self):
        print("Labrador Woof!")

class Beagle(Dog):  # Partial Abstraction
    def sound(self):
        print("Beagle Bark!")

# Example Usage
dogs = [Labrador("Buddy"), Beagle("Charlie")]
for dog in dogs:
    dog.display_name()  # Calls concrete method
    dog.sound()  # Calls implemented abstract method

For Loop:
Using a for loop inside an object method

In [ ]:
class NumberPrinter:
    def __init__(self, start, end):
        self.start = start
        self.end = end

    def print_numbers(self):
        # Using 'for' loop to print numbers from start to end
        for num in range(self.start, self.end + 1):
            print(num)

# Create an object of NumberPrinter
printer = NumberPrinter(1, 5)
printer.print_numbers()  # Output: 1 2 3 4 5

While Loop:
Using a while loop inside an object method

In [ ]:
class Countdown:
    def __init__(self, start):
        self.start = start

    def countdown(self):
        # Using 'while' loop to count down to 0
        while self.start >= 0:
            print(self.start)
            self.start -= 1

# Create an object of Countdown
counter = Countdown(5)
counter.countdown()  # Output: 5 4 3 2 1 0

If Condition:
Using if conditions inside a method

In [ ]:
class NumberCheck:
    def __init__(self, number):
        self.number = number

    def check_even_odd(self):
        # Using 'if' statement to check if the number is even or odd
        if self.number % 2 == 0:
            print(f"{self.number} is Even")
        else:
            print(f"{self.number} is Odd")

# Create an object of NumberCheck
num = NumberCheck(7)
num.check_even_odd()  # Output: 7 is Odd

If-Else Condition:
Using an if-else condition inside a method

In [ ]:
class Temperature:
    def __init__(self, temp):
        self.temp = temp

    def check_temperature(self):
        # Using 'if-else' to check the temperature
        if self.temp > 30:
            print("It's hot!")
        else:
            print("It's cool!")

# Create an object of Temperature
temp = Temperature(32)
temp.check_temperature()  # Output: It's hot!

Nested If Conditions:
Using nested if conditions to check multiple conditions

In [ ]:
class Grade:
    def __init__(self, score):
        self.score = score

    def evaluate_grade(self):
        # Nested 'if' condition to evaluate grade
        if self.score >= 90:
            print("Grade: A")
        elif self.score >= 75:
            print("Grade: B")
        elif self.score >= 60:
            print("Grade: C")
        else:
            print("Grade: F")

# Create an object of Grade
student = Grade(85)
student.evaluate_grade()  # Output: Grade: B

Break and Continue in Loops

In [ ]:
class LoopControl:
    def __init__(self, start, end):
        self.start = start
        self.end = end

    def loop_with_break_continue(self):
        # Using 'for' loop with 'break' and 'continue'
        for num in range(self.start, self.end + 1):
            if num == 5:
                print("Breaking at 5")
                break  # Breaks the loop when the number is 5
            elif num == 3:
                print("Skipping 3")
                continue  # Skips the iteration for number 3
            print(num)

# Create an object of LoopControl
control = LoopControl(1, 7)
control.loop_with_break_continue()
# Output:
# 1
# 2
# Skipping 3
# 4
# Breaking at 5

List:
1. Definition: An ordered collection of elements, which can be of any data type.
2. Syntax: Defined with square brackets [].
3. Order: Maintains the insertion order of elements.
4. Mutability: Mutable (can be changed after creation).
5. Duplicates: Allows duplicate values.
6. Indexing: Supports indexing (can access elements by their index).
7. Slicing: Supports slicing to extract sublists.
8. Performance: Slower for large datasets because of dynamic resizing.
9. Use Case: Used when elements need to be changed (add, remove, modify).
10. Methods: Supports many methods like .append(), .remove(), .pop(), .sort(), etc.

In [ ]:
# List example
my_list = [1, 2, 3, 4, 5]

# Accessing and modifying elements
print(my_list[0])  # Output: 1
my_list[1] = 10
print(my_list)  # Output: [1, 10, 3, 4, 5]

# Slicing
print(my_list[1:4])  # Output: [10, 3, 4]

Tuple:
1. Definition: An ordered collection of elements that is immutable.
2. Syntax: Defined with round brackets ().
3. Order: Maintains the insertion order of elements.
4. Mutability: Immutable (cannot be changed after creation).
5. Duplicates: Allows duplicate values.
6. Indexing: Supports indexing (can access elements by their index).
7. Slicing: Supports slicing to extract subtuples.
8. Performance: Faster and more memory-efficient than lists for iteration.
9. Use Case: Used when elements should not change, like coordinates or fixed data.
10. Methods: Fewer methods than lists, e.g., .count(), .index().

In [ ]:
# Tuple example
my_tuple = (1, 2, 3, 4, 5)

# Accessing elements
print(my_tuple[0])  # Output: 1

# Slicing
print(my_tuple[1:4])  # Output: (2, 3, 4)

# Concatenation (creating a new tuple)
new_tuple = my_tuple + (6,)
print(new_tuple)  # Output: (1, 2, 3, 4, 5, 6)

Set:
1. Definition: An unordered collection of unique elements.
2. Syntax: Defined with curly brackets {}.
3. Order: Unordered (no guarantee of insertion order).
4. Mutability: Mutable (can add or remove elements).
5. Duplicates: Does not allow duplicates; only unique values.
6. Indexing: Does not support indexing (no element positions).
7. Slicing: Does not support slicing.
8. Performance: Fast for membership testing and eliminating duplicates.
9. Use Case: Useful when you need unique elements or for set operations (union, intersection).
10. Methods: Supports methods like .add(), .remove(), .discard(), .union(), .intersection().

In [ ]:
# Set example
my_set = {1, 2, 3, 4, 5}

# Adding elements
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

# Removing elements
my_set.remove(4)
print(my_set)  # Output: {1, 2, 3, 5, 6}

# Sets do not support indexing
# print(my_set[0])  # This will raise an error

Dictionary:
1. Definition: A collection of key-value pairs, where keys are unique.
2. Syntax: Defined with curly brackets {key: value}.
3. Order: Maintains the insertion order of key-value pairs (since Python 3.7+).
4. Mutability: Mutable (can change values, add/remove key-value pairs).
5. Duplicates: Keys must be unique, but values can be duplicated.
6. Indexing: Indexed by keys, not by integers.
7. Slicing: Does not support slicing (use keys for access).
8. Performance: Very fast for lookups by key.
9. Use Case: Used for mapping relationships (e.g., name to phone number).
10. Methods: Supports methods like .get(), .keys(), .values(), .items().

In [ ]:
# Dictionary example
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Accessing elements by key
print(my_dict['a'])  # Output: 1

# Adding or updating key-value pairs
my_dict['d'] = 4
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Removing a key-value pair
del my_dict['b']
print(my_dict)  # Output: {'a': 1, 'c': 3, 'd': 4}

# Accessing all keys and values
print(my_dict.keys())  # Output: dict_keys(['a', 'c', 'd'])
print(my_dict.values())  # Output: dict_values([1, 3, 4])

Lambda Functions:
A lambda function is a small, anonymous function that is defined using the lambda keyword (in Python, for example). The main benefit of lambda functions is that they can be written in a single line, making them more concise than traditional function definitions.

Key Points About Lambda Functions:
1. They can have any number of arguments but only one expression.
2. The result of the expression is automatically returned (no need for a return statement).
3. Typically used for short-term tasks or when passing functions as arguments to higher-order functions.

Syntax:
1. Arguments: The inputs to the lambda function.
2. Expression: The single operation that the function performs and returns.

In [ ]:
lambda arguments: expression

Example in Python (Lambda Functions):

1. Simple Lambda Function: A lambda function that takes two arguments and returns their sum.

In [ ]:
add = lambda x, y: x + y
print(add(5, 10))  # Output: 15

2. Lambda with filter (Filtering Even Numbers): Using lambda with the filter() function to filter out even numbers from a list.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6]

3. Lambda with map (Squaring Numbers): Using lambda with map() to square each number in a list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)  # Output: [1, 4, 9, 16, 25]

4. Lambda with sorted (Sorting by Custom Criteria): Using lambda with the sorted() function to sort a list of tuples based on the second value.

In [ ]:
items = [(1, 'apple'), (3, 'banana'), (2, 'cherry')]
sorted_items = sorted(items, key=lambda x: x[1])
print(sorted_items)  # Output: [(1, 'apple'), (3, 'banana'), (2, 'cherry')]

Lambda Functions and OOPs Principles:

1. Encapsulation: In OOP, encapsulation refers to bundling the data (attributes) and methods (functions) that operate on the data into a single unit, or class. Lambda functions don't directly influence this principle, but they can help encapsulate simple functionality that is used within a class or an object. For example, a lambda might be used to define small, class-specific methods or callbacks.

In [ ]:
class Calculator:
    def __init__(self, operation):
        self.operation = operation

    def calculate(self, a, b):
        return self.operation(a, b)

# Using a lambda function for addition
add_operation = lambda x, y: x + y
calc = Calculator(add_operation)
print(calc.calculate(5, 10))  # Output: 15

2. Inheritance: Lambda functions are usually not directly tied to inheritance. However, lambdas can be used as part of base or derived classes, especially when you want to pass functions as parameters or override methods in subclasses.

In [ ]:
class Shape:
    def area(self):
        return 0

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        return lambda: 3.14 * (self.radius ** 2)  # Lambda for area calculation

circle = Circle(5)
print(circle.area()())  # Output: 78.5

3. Polymorphism: Polymorphism allows objects of different classes to be treated as instances of the same class through a common interface. Lambda functions can provide polymorphic behavior in the form of different function definitions based on context.

Example with polymorphism:

In [ ]:
class Animal:
    def sound(self):
        return "Some generic sound"

class Dog(Animal):
    def sound(self):
        return lambda: "Bark"

class Cat(Animal):
    def sound(self):
        return lambda: "Meow"

animals = [Dog(), Cat()]
for animal in animals:
    print(animal.sound()())  # Output: Bark  Meow

4. Abstraction: Abstraction involves hiding the complexity and showing only the necessary details to the user. Lambda functions allow abstraction in cases where you want to define a simple, reusable function without explicitly naming it. This simplifies the code and abstracts away the details of the function.

Example of abstraction:

In [ ]:
class Sorter:
    def sort_numbers(self, nums, order='asc'):
        return sorted(nums, key=lambda x: x if order == 'asc' else -x)

sorter = Sorter()
print(sorter.sort_numbers([3, 1, 4, 2], order='asc'))  # Output: [1, 2, 3, 4]
print(sorter.sort_numbers([3, 1, 4, 2], order='desc')) # Output: [4, 3, 2, 1]

PySpark:
 PySpark is the Python API for Apache Spark, enabling distributed data processing and analytics using Python.

 1. Initialize Spark Session:
 You need to create a SparkSession to interact with Spark.

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()

2. Read Data into a DataFrame:
You can read various data formats such as CSV, Parquet, JSON, etc.

In [ ]:
# Reading CSV
df = spark.read.csv("path_to_file.csv", header=True, inferSchema=True)

# Reading Parquet
# df = spark.read.parquet("path_to_file.parquet")

3. Display the DataFrame:
To view the first few rows of the DataFrame.

In [ ]:
df.show(5)  # Show the first 5 rows

4. Select Columns:
To select specific columns from the DataFrame.

In [ ]:
df.select("column1", "column2").show()

5. Filter Rows:
To filter rows based on conditions.

In [ ]:
filtered_df = df.filter(df['age'] > 30)
filtered_df.show()

6. Group and Aggregate:
To perform grouping and aggregations.

In [ ]:
df.groupBy("column_name").agg({"another_column": "avg"}).show()

7. Add a New Column:
To create a new column based on existing data.

In [ ]:
from pyspark.sql.functions import col
df = df.withColumn("new_column", col("existing_column") * 2)
df.show()

8. Sort Data:
To sort the DataFrame by a specific column.

In [ ]:
df.orderBy("age", ascending=False).show()  # Sort by age in descending order

In PySpark, you can execute SQL-like queries using DataFrame API or by registering a DataFrame as a temporary SQL table and running SQL queries against it. The way to write PySpark query in both ways:

1. Using the DataFrame API:
You can perform SQL-like operations with methods like filter(), select(), groupBy(), agg(), and others. Here's an example:

In [ ]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName("PySparkQuery").getOrCreate()

# Load data into DataFrame
df = spark.read.csv("path_to_data.csv", header=True, inferSchema=True)

# Perform a query using DataFrame API (similar to SQL)
filtered_df = df.filter(df['age'] > 30).select("name", "age")

# Show the result
filtered_df.show()

2. Using SQL Queries (via SparkSession.sql()):
You can register your DataFrame as a temporary view and then run SQL queries using spark.sql():

In [ ]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

# Run a SQL query
result = spark.sql("SELECT name, age FROM people WHERE age > 30")

# Show the result of the query
result.show()

SQL Concepts:
SQL (Structured Query Language) is a standard programming language used to manage and manipulate relational databases. It allows users to interact with databases to perform operations like data retrieval, insertion, updating, and deletion.

Query-1 :
Show existing databases

In [ ]:
SHOW DATABASES;

Query-2 :
Drop a database:
Suppose we want to drop the database namely student.

In [ ]:
DROP DATABASE student;
SHOW DATABASES;

Query-3 :
Create a database –
Suppose we want to create a database namely a bank.

In [ ]:
CREATE DATABASE bank;
SHOW DATABASES;

Query-4 :
Using a database –

In [ ]:
USE bank;

Query-5 :
Create a Table –
Here data type may be varchar, integer, date, etc.

CREATE TABLE table_name (
   column1 datatype,
   column2 datatype,
  ....
);

In [ ]:
CREATE TABLE IF NOT EXISTS Employee (
   EmployeeID int,
   FirstName varchar(55),
   LastName varchar(55),
   Email varchar(150),
   DOB date
);

Query-6 :
Show tables in the same database –

In [ ]:
SHOW TABLES;

Query-7 :
Dropping a Table –

In [ ]:
DROP TABLE table_name;

Query-8 :
Inserting values into an existing table:

In [ ]:
INSERT INTO Employee
VALUES(1111,'Dipak','Bera','dipakbera@gmail.com','1994-11-22');

Query-9 :
Fetching values in a table –

In [ ]:
SELECT * FROM Employee;

Query-10 :
Not Null –
We can specify which column does not accept the null value when we insert a value(row) in a table. It will be done at the time of table creation.

In [ ]:
CREATE TABLE table_name (
  column1 datatype NOT NULL,
  column2 datatype,
 ....
);

Query-11 :
Unique –
We can also specify that entries in a particular column should be unique.

In [ ]:
CREATE TABLE demo_table
(
EmployeeID int NOT NULL UNIQUE,
FirstName varchar(55),
LastName varchar(55)
);

KEY CONCEPTS in SQL :
Here, we will discuss some important concepts like keys, join operations, having clauses, order by, etc. Let’s discuss it one by one.

1. PRIMARY KEY –
The constraint PRIMARY KEY suggests that entries should be neither null nor duplicate corresponding to the specified column.

In [ ]:
CREATE TABLE IF NOT EXISTS Customer(
CustID int NOT NULL,
FName varchar(55),
LName varchar(55),
Email varchar(100),
DOB date,
CONSTRAINT customer_custid_pk  PRIMARY KEY(CustID)
);

2. FOREIGN KEY –
The FOREIGN KEY is used to build a connection between the current table and the previous table containing the primary key.

In [ ]:
CREATE TABLE Account(
AccNo int NOT NULL,
AType varchar(20),
OBal int,
OD date,
CurBal int,
CONSTRAINT customer_AccNo_fk  FOREIGN KEY(AccNo) REFERENCES Customer(CustID)
);

3. ORDER BY :
TheORDER BY keyword is used to show the result in ascending or descending order. By default, it is in ascending order.

In [ ]:
SELECT column1, column2, ...
FROM table_name
ORDER BY column1, column2, ... ASC|DESC;

SELECT * FROM Account ORDER BY CurBal;

SELECT * FROM Account ORDER BY CurBal DESC;

4. GROUP BY :
This keyword is used for grouping the results.

In [ ]:
SELECT COUNT(AType) FROM Account GROUP BY AType;

Types of JOIN in SQL:
There are many types of Joins in SQL. Depending on the use case, we can use different type of SQL JOIN clause. Below, we explain the most commonly used join types with syntax and examples:

1. SQL INNER JOIN:
The INNER JOIN keyword selects all rows from both the tables as long as the condition is satisfied. This keyword will create the result-set by combining all rows from both the tables where the condition satisfies i.e value of the common field will be the same.

Syntax:

In [ ]:


SELECT table1.column1,table1.column2,table2.column1,....
FROM table1
INNER JOIN table2
ON  table1.matching_column = table2.matching_column;

INNER JOIN Example:

In [ ]:
SELECT StudentCourse.COURSE_ID, Student.NAME, Student.AGE FROM Student
INNER JOIN StudentCourse
ON Student.ROLL_NO = StudentCourse.ROLL_NO;

2. SQL LEFT JOIN:
LEFT JOIN returns all the rows of the table on the left side of the join and matches rows for the table on the right side of the join. For the rows for which there is no matching row on the right side, the result-set will contain null. LEFT JOIN is also known as LEFT OUTER JOIN.

Syntax:

In [ ]:
SELECT table1.column1,table1.column2,table2.column1,....
FROM table1
LEFT JOIN table2
ON table1.matching_column = table2.matching_column;

LEFT JOIN Example:

In [ ]:
SELECT Student.NAME,StudentCourse.COURSE_ID
FROM Student
LEFT JOIN StudentCourse
ON StudentCourse.ROLL_NO = Student.ROLL_NO;

3. SQL RIGHT JOIN:
RIGHT JOIN returns all the rows of the table on the right side of the join and matching rows for the table on the left side of the join. It is very similar to LEFT JOIN for the rows for which there is no matching row on the left side, the result-set will contain null. RIGHT JOIN is also known as RIGHT OUTER JOIN.

Syntax:

In [ ]:
SELECT table1.column1,table1.column2,table2.column1,....
FROM table1
RIGHT JOIN table2
ON table1.matching_column = table2.matching_column;

RIGHT JOIN Example:

In [ ]:
SELECT Student.NAME,StudentCourse.COURSE_ID
FROM Student
RIGHT JOIN StudentCourse
ON StudentCourse.ROLL_NO = Student.ROLL_NO;

4. SQL FULL JOIN:
FULL JOIN creates the result-set by combining results of both LEFT JOIN and RIGHT JOIN. The result-set will contain all the rows from both tables. For the rows for which there is no matching, the result-set will contain NULL values.

Syntax:

In [ ]:
SELECT table1.column1,table1.column2,table2.column1,....
FROM table1
FULL JOIN table2
ON table1.matching_column = table2.matching_column;

FULL JOIN Example:

In [ ]:
SELECT Student.NAME,StudentCourse.COURSE_ID
FROM Student
FULL JOIN StudentCourse
ON StudentCourse.ROLL_NO = Student.ROLL_NO;

5. NATURAL JOIN:
Returns rows with matching column names and values from both tables, automatically joining on common columns.

Syntax:

In [ ]:
SELECT table1.column1, table2.column1
FROM table1
NATURAL JOIN table2;

NATURAL JOIN Example:

In [ ]:
SELECT Student.NAME, StudentCourse.COURSE_ID
FROM Student
NATURAL JOIN StudentCourse;

Linux:
Linux is an open-source, Unix-like operating system kernel that forms the foundation of various Linux distributions (distros). It was created by Linus Torvalds in 1991. It’s widely used in servers, desktops, and embedded systems.

Linux follows the Filesystem Hierarchy Standard (FHS), which defines the directory structure and contents. Some key directories include:

1. /: The root directory, the starting point of the file system.

2. /bin: Essential binary executables (commands).

3. /etc: Configuration files for system-wide settings.

4. /home: Home directories for regular users.

5. /var: Variable files such as logs and spool files.

6. /tmp: Temporary files.

7. /usr: User programs, libraries, and documentation.

8. /dev: Device files (e.g., hard drives, terminals).

9. /proc: Virtual files that provide system information (e.g., process information).

check the Linux version:

1. Shows detailed information about the kernel.

In [ ]:
uname -a

2. Shows detailed information about the specific distribution and version.

In [ ]:
cat /etc/os-release

Difference between a file and a directory:
File: A file is a container that holds data. It can be a text file, an image file, or any other type of data.

Directory: A directory is a container that holds files and other directories (subdirectories).

Basic Linux file operations:

1. List files in a directory

In [ ]:
ls

2. Change directory

In [ ]:
cd /path/to/directory

3. Create a new file

In [ ]:
touch filename.txt

4. Create a new directory

In [ ]:
mkdir directoryname

5. Remove a file

In [ ]:
rm filename.txt

6. Remove a directory

In [ ]:
rmdir directoryname

Check disk usage:

df: Shows disk space usage for all mounted filesystems.

-h option makes the output human-readable (e.g., GB, MB).

du: Shows disk usage of files and directories.

-s gives the summary and -h makes it human-readable.

In [ ]:
df -h
du -sh /path/to/directory

find: Search for files in a directory hierarchy.

locate: Find files using a pre-built database (faster but may be outdated unless regularly updated).

In [ ]:
find /path/to/search -name filename

locate filename

Running processes:

ps: Shows the current processes.

top: Shows a real-time view of system processes and resource usage.

htop: A more user-friendly, interactive version of top (requires installation).

In [ ]:
ps aux

top

htop

Manage packages:

On Debian-based systems (like Ubuntu):

1. Update package list

In [ ]:
sudo apt update

2. Install a package

In [ ]:
sudo apt install package-name

3. Remove a package

In [ ]:
sudo apt remove package-name

4. Upgrade all packages

In [ ]:
sudo apt upgrade

Set file permissions:
1. chmod: Changes the permissions of a file or directory.
2. r: read, w: write, x: execute
3. Permissions can be set numerically (e.g., 755) or symbolically (e.g., u+x).
Example:

In [ ]:
chmod 755 filename.txt

Difference between sudo and su:
1. sudo: Stands for "Super User DO". It runs a command with superuser (root) privileges, without changing the user context permanently. Example:

sudo apt update

2. su: Stands for "Substitute User". It switches the current user to another user, commonly used to switch to the root user. Example:

su

Memory usage:
free: Shows memory usage.

In [ ]:
free -h

vmstat: Shows memory and system performance stats.

In [ ]:
vmstat

Creates a symbolic (soft) link:

In [ ]:
ln -s /path/to/target /path/to/link

Schedule a one-time task. Example to run a command at 3 PM:

In [ ]:
echo "command" | at 3:00 PM

cron: Schedule recurring tasks (e.g., backups).

1. Edit the crontab:

In [ ]:
crontab -e

2. Example to run a script every day at 5 AM:

In [ ]:
0 5 * * * /path/to/script.sh

Shut down the system

In [ ]:
sudo shutdown -h now

Restart the system

In [ ]:
sudo reboot

The grep command is used to search for specific patterns in a file or output.

Example:
Search for the word "error" in a log file:

In [ ]:
grep "error" /var/log/syslog